<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Todo</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Edit Your Task</h1>
  <div class="glass">
      <form action="/edit/<%= index %>" method="POST">
    <input type="text" name="updatedTodo" value="<%= todo %>" required>
    <button type="submit">Update</button>
  </form>

  <button class="btn"><a href="/">Cancel</a></button>
  </div>


</body>
</html>
